div{
width:300px;
height:300px;
border:1px solid black;
text-align:center;
background-color:red;
}
div:hover{
background-color:pink;
}
.div1{
background-color:green;
width:300;
height:300;
}
.div1:hover{
background-color:red;
}
.div2{
background-color:blue;
border:2px dotted black;
width:300px;
height:300px;
}
.div2:hover{
background-color:skyblue;
}