a:link{
color:green;
}

a:hower{
color:red;
}

a:visited{
color:yellow;
}

a:active{
color:pink;
}		

iframe{
text-align:center;
}

a{
font-size:50px;
text-align:center;

}

button{
text-align:center;
color:red;
border:2px;
font-size:100px;
border-radius:200px;
background-color:black;
}