table,td,th{
border-collapse:collapse;
}

tr{
border-bottom:1px solid white;
background-color:skyblue;
}


td:nth-child(even),th:nth-child(even){
background-color: blue;
}



tr:nth-child(even){
background-color:rgba(150,100,78,0.5);
}
table{
height:;50%;
width:50%;
text-align:center;
}
